%nav.navbar.navbar-dark.navbar-inverse.bg-inverse.navbar-toggleable-xs
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "exCollapsingNavbar2", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{ :href => root_url } JKaraokePH

  #exCollapsingNavbar2.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "Home", root_path, class: 'nav-link'
    %ul.nav.navbar-nav= render 'layouts/navigation_links'
